<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<tamsatConfig>
    <datasets>
        <dataset id="01-tamsatDaily.v3" title="TAMSAT v3 Daily" location="/usr/local/tamsat-data/data/v3/daily/**/**/*.nc" updateInterval="1440"/>
        <dataset id="02-tamsatPentadal.v3" title="TAMSAT v3 Pentadal" location="/usr/local/tamsat-data/data/v3/pentadal/**/**/*.nc"  updateInterval="1440"/>
        <dataset id="02a-tamsatPentadalAnomalies.v3" title="TAMSAT v3 Pentadal Anomalies" location="/usr/local/tamsat-data/data/v3/pentadal-anomalies/**/**/*.nc"  updateInterval="1440"/>
        <dataset id="03-tamsatDekadal.v3" title="TAMSAT v3 Dekadal" location="/usr/local/tamsat-data/data/v3/dekadal/**/**/*.nc" updateInterval="1440"/>
        <dataset id="03a-tamsatDekadalAnomalies.v3" title="TAMSAT v3 Dekadal Anomalies" location="/usr/local/tamsat-data/data/v3/dekadal-anomalies/**/**/*.nc" updateInterval="1440"/>
        <dataset id="04-tamsatMonthly.v3" title="TAMSAT v3 Monthly" location="/usr/local/tamsat-data/data/v3/monthly/**/**/*.nc" updateInterval="1440"/>
        <dataset id="04a-tamsatMonthlyAnomalies.v3" title="TAMSAT v3 Monthly Anomalies" location="/usr/local/tamsat-data/data/v3/monthly-anomalies/**/**/*.nc" updateInterval="1440"/>
        <dataset id="05-tamsatSeasonal.v3" title="TAMSAT v3 Seasonal" location="/usr/local/tamsat-data/data/v3/seasonal/**/**/*.nc" updateInterval="1440"/>
        <dataset id="05a-tamsatSeasonalAnomalies.v3" title="TAMSAT v3 Seasonal Anomalies" location="/usr/local/tamsat-data/data/v3/seasonal-anomalies/**/**/*.nc" updateInterval="1440"/>
    </datasets>
    <email>
        <smtpHost>smtp.reading.ac.uk</smtpHost>
        <smtpUser>USER</smtpUser>
        <smtpPassword>PASSWORD</smtpPassword>
        <replyTo>tamsat@reading.ac.uk</replyTo>
    </email>
</tamsatConfig>
