body {
    background-color: #white;
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14pt;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

h1 {
    font-size: 20pt;
}

.error {
	color: red;
}

.tamsat-form-section {
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid black;
    border-radius: 3px;
}

.footer {
	position: fixed;
	bottom: 0;
	font-size: 75%;
	text-align: center;
	background-color: white;
}

#minLon {
    float: left;
    left: 0px;
    width: 30%;
}

#maxLon {
    float: right;
    right: 0px;
    width: 30%;
}

#minLat, #maxLat {
    display: inline-block;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}

label {
    width: 270px;
    float: left;
    margin-left: 1px;
}

input[type=submit], select {
    background: linear-gradient(rgb(255, 255, 255) 5%, rgb(225, 225, 225) 100%) rgb(245, 253, 255);
    border-radius: 3px;
    border: 1px solid black;
    color: #000000;
    cursor: pointer;
    margin: 1px;
}

input[type=text], input[type=number], select {
    font-size: 12pt;
    margin: 1px;
    width: 205px;
}

input[type=submit] {
    padding: 8px;
    font-size: 14pt;
    width: 100%;
}

input[type=radio] {
    margin-bottom: 12px;
}

a:visited {
    color: #333366;
}

a:link {
    color: #000033;
}

table {
    background-color: white;
    border-collapse: collapse;
    border-color: #000000;
    border-radius: 3px;
    border-spacing: 2px;
    border-style: solid;
    border-width: 1px;
    width: 100%;
}

table th {
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    font-weight: bold;
}

table td {
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
}

#datasetSelect {
	width: 100%;
	margin: 0;
}

@media only screen and (max-width: 500px) {
    .headerImage {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    body {
        width: 100%;
    }
    .tamsat-form-section {
        width: 95%;
        padding: 4px;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 4px;
        margin-bottom: 4px;
        border: 1px solid black;
        border-radius: 3px;
    }
    input[type=submit], input[type=text], input[type=number], select {
        width: 98%;
        margin-bottom: 8px;
    }
    label {
        width: 90%;
    }
    input[type=radio] {
        width: 5%;
    }
}
