<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="author" content="Guy Griffiths">
    <meta name="description" content="">

    <link rel="stylesheet" href="../css/tamsat.css">
    <title>TAMSAT Data Subset</title>
</head>

<body>
    <img src="../img/header.png" />
    <h1>Job list:</h1>
    <br />
    <table>
        <tr>
            <th>Description</th>        
            <th>Link</th>
        </tr>        
 #foreach($job in $finishedJobs)
        <tr>
            <td>$job.jobDescription</td>
            <td>$job.completedTime</td>
            <td>$job.wasDownloaded()</td>
            <td>$job.jobRef.email</td>
            <td>$job.jobRef.ref</td>
        </tr>
 #end
    </table>
 </body>
